@{
    ViewBag.Title = "Contato";
}
<h2>CONTATO</h2>

<address>
    Fone: (19) 9 9471-0736<br />
</address>

<address>
    <strong>Trabalhos: </strong><a href="http://www.github.com/wjnnora" target="_blank">GitHub</a><br />
    <strong>E-mail contato: </strong> <a href="mailto:wellington_nora94@hotmail.com">wellington_nora94@hotmail.com</a>
</address>