<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    No exemplo abaixo, a transformação "SetAttributes" alterará o valor de
    "connectionString" para usar "ReleaseSQLServer" apenas quando o localizador "Match" 
    encontrar um atributo "name" que tenha um valor de "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appsettings>
    <add key="webpages:version" value="3.0.0.0" />
    <add key="webpages:enabled" value="false" />
    <add key="clientvalidationenabled" value="true" />
    <add key="unobtrusivejavascriptenabled" value="true" />
    <add key="caminhofisico" value="c:\users\welli\source\repos\treinaweb.musica\treinaweb.musica.web"/>
    <add key="caminhovirtual" value="https://localhost:44378/"/>
  </appsettings>
  <connectionstrings>
    <add name="musicasdbcontext" providername="system.data.sqlclient" connectionstring="server=.\sqlexpress;database=treinaweb_musicas;user id=sa;password=123mud@r;" />
  </connectionstrings>
  <system.web>
    <!--
      No exemplo abaixo, a transformação "Replace" vai substituir toda a seção
      <customErrors> do seu arquivo Web.confige.
      Observe que como há somente uma seção customErrors no nó 
      <system.web>, não há necessidade de usar o atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
